/* ::::: http://m.zhouyi.cc/css/html5v3style.css ::::: */

html, body, address, blockquote, dl, form, h1, h2, h3, h4, h5, h6, ol, p, pre, table, ul, dd, dt, li, tbody, td, tfoot, th, thead, tr, button, del, ins, map, object, a, abbr, acronym, b, bdo, big, br, cite, code, dfn, em, i, img, kbd, q, samp, small, span, strong, sub, sup, tt, var, legend, fieldset { margin: 0px; padding: 0px; border: 0px none; }
header, nav, footer, section, acticle, .sx_list, .head1 { display: block; border: 0px none; margin: 0px; padding: 0px; }
body { font-size: 16px; font-family: "微软雅黑"; color: rgb(51, 51, 51); line-height: 24px; }
div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, legend, input, textarea { margin: 0px; padding: 0px; }
p, th, td { margin: 0px; padding: 0px; }
img { border: 0px none; margin: 0px; height: auto; overflow: hidden; }
ol, ul { list-style: outside none none; z-index: 0; }
li {  }
h1, h2, h3, h4, h5, h6 { font-size: 100%; font-weight: normal; }
li, h1, h2, h3, dl, dt, dd, b { text-overflow: ellipsis; }
a { text-decoration: none; cursor: pointer; color: rgb(51, 51, 51); }
a:hover { color: rgb(255, 0, 0); }
.center { padding: 0px 2px; margin: 0px auto; }
.lh22 { line-height: 22px; }
ul, li { list-style: outside none none; }
.t_center { text-align: center; }
.clear { clear: both; height: 5px; }
.clearfix::after { content: "."; display: block; height: 0px; clear: both; visibility: hidden; }
.blue { color: rgb(36, 90, 168); }
.address { border: 1px solid rgb(226, 222, 93); background: transparent url('bzsubbg2.png') repeat-x scroll 0% 0%; height: 35px; line-height: 35px; padding-left: 12px; overflow: hidden; color: rgb(193, 123, 1); margin-bottom: 5px; }
.address a, .address1 a, .address3 a { color: rgb(193, 123, 1); font-weight: bold; }
.main { max-width: 100%; margin: 0px auto; overflow: hidden; }
.top_head { height: 45px; position: relative; overflow: hidden; background: rgb(229, 142, 0) none repeat scroll 0% 0%; }
.top_head .top_logo { width: 68px; float: left; height: 45px; display: inline-block; }
.top_head .top_logo a { display: block; width: 68px; height: 45px; background: transparent url('top_logo.png') no-repeat scroll 0% 0%; }
.top_head .top_ane { display: inline-block; overflow: hidden; height: 45px; line-height: 45px; }
.top_head .top_ane a { display: inline-block; color: rgb(255, 255, 255); height: 45px; line-height: 45px; padding-left: 10px; padding-right: 23px; background: transparent url('top_ane.png') no-repeat scroll right center; }
.top_more { display: block; position: absolute; width: 29px; height: 23px; right: 10px; top: 11px; background: transparent url('subbtn.png') no-repeat scroll 0% 0%; }
.top_nav { background: rgb(243, 243, 243) none repeat scroll 0% 0%; width: 100%; overflow: hidden; }
.top_nav ul { clear: both; display: block; font-size: 16px; overflow: hidden; padding: 5px 0.5%; width: 99%; }
.top_nav li { font-size: 16px; width: 16.6%; float: left; height: 26px; line-height: 26px; overflow: hidden; text-align: center; text-overflow: ellipsis; white-space: nowrap; }
.top_nav li a { display: block; width: 100%; height: 26px; }
.top_nav li a:hover { background: rgb(244, 145, 137) none repeat scroll 0% 0%; color: rgb(255, 255, 255); }
.top_nav li .top_cur { background: rgb(244, 145, 137) none repeat scroll 0% 0%; color: rgb(255, 255, 255); }
.footer { border-top: 3px solid rgb(255, 163, 0); margin-top: 10px; background: transparent url('footerbg.png') repeat-x scroll 0% 0%; height: 57px; overflow: hidden; }
.footer a { color: rgb(255, 163, 0); display: inline; cursor: pointer; width: 33%; text-align: center; padding-top: 10px; float: left; }
.menu-button::before { content: ""; position: absolute; background: transparent url('subbtn.png') no-repeat scroll 0% 0%; width: 29px; vertical-align: middle; display: block; height: 23px; top: 25px; }
.menu-button1::before { content: ""; position: absolute; background: transparent url('subbtn1.png') no-repeat scroll 0% 0%; width: 29px; vertical-align: middle; display: block; height: 23px; top: 25px; }
.baziwpxian { background: transparent url('bazixian.png') repeat-x scroll 0% 0%; height: 10px; }
.qianwp { overflow: hidden; margin: 0px auto; }
.qian { position: relative; text-align: center; margin: 0px auto; }
.qian #qian { display: block; width: 94px; height: 31px; bottom: 15px; background: transparent url('qiuqian_btn.gif') no-repeat scroll 0% 0%; margin: 0px auto; }
.qianzuo { width: 95%; margin: 8px auto; overflow: hidden; }
.lianqiantt { background: transparent url('lingqiantt2.png') repeat-x scroll 0% 0%; height: 31px; line-height: 31px; color: rgb(230, 152, 3); border: 1px solid rgb(251, 245, 235); margin-top: 5px; }
.qianzuo img { width: 100%; height: auto; }
.choqian { padding: 10px 5px; }
.qianlist { overflow: hidden; margin: 5px 0px; }
.qianlist li { width: 20%; float: left; }
.qianlist li a { color: rgb(255, 255, 255); text-align: center; background: rgb(241, 174, 56) none repeat scroll 0% 0%; border-radius: 3px; margin: 3px; display: block; height: 25px; line-height: 25px; }
.linqtt { background: transparent url('lingqiantt.png') repeat-x scroll 0% 0%; height: 26px; padding: 6px 5px; }
.linqtt1 { background: rgb(255, 255, 254) url('lingqiantt1.png') repeat-x scroll center bottom; height: 21px; line-height: 18px; text-align: center; border: 1px solid rgb(225, 219, 84); width: 50px; display: block; color: rgb(193, 123, 1); padding-top: 5px; }
.plan_click a:nth-child(2) span { background: rgb(213, 15, 58) none repeat scroll 0% 0%; margin-right: 10px; }
.plan_click a:nth-child(1) span { margin-left: 10px; }
.pinfo li:nth-child(1), .box1 li:nth-child(1), .box1 li:nth-child(2), .xpbz tr:nth-child(1) { border: medium none; }
a, img { text-decoration: none; border: medium none; }
#btn_top { background: rgb(64, 143, 196) url('to_top.png') no-repeat scroll center 50%; border-radius: 50%; bottom: 80px; height: 36px; opacity: 0.3; position: fixed; right: 2px; width: 36px; z-index: 999999; }
.drawer-hamberger span, .drawer-hamberger span::before, .drawer-hamberger span::after { position: absolute; background: transparent url('subbtn.png') no-repeat scroll 0% 0%; width: 29px; vertical-align: middle; display: block; height: 23px; top: 25px; overflow: hidden; right: 5px; }
.drawer-hamberger span.xzsapn, .drawer-hamberger span.xzsapn::before, .drawer-hamberger span.xzsapn::after { position: absolute; background: transparent url('subbtn1.png') no-repeat scroll 0% 0%; width: 29px; vertical-align: middle; display: block; height: 23px; top: 25px; overflow: hidden; right: 5px; }
.drawer-open .drawer-hamberger span::before, .drawer-open .drawer-hamberger span::after { top: 0px; }
.drawer-open .drawer-hamberger span::before { transform: rotate(45deg); }
.drawer-open .drawer-hamberger span::after { transform: rotate(-45deg); }
