/* Effective stylesheet produced by snapshot save */
.intro { background: rgb(250, 243, 226) none repeat scroll 0% 0%; border-width: 0px 1px 1px; border-style: none solid solid; border-color: -moz-use-text-color rgb(154, 114, 64) rgb(154, 114, 64); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; clear: both; }
.table { margin-bottom: -1px; background: rgb(255, 252, 245) none repeat scroll 0% 0%; line-height: 32px; }
.table tr { border-bottom: 1px solid rgb(235, 219, 211); }
.table td { text-align: center; padding: 0px 10px; border: 1px solid rgb(235, 219, 211); }
.table td.tal { text-align: left; padding-left: 10px; }
